In [3]:
# read csv aggregated_offtake_analysis.csv
import pandas as pd

df = pd.read_csv("../aggregated_offtake_data.csv")

# print the first 5 rows
print(df.head())

# print the column names
print(df.columns)

# print the shape of the dataframe
print(df.shape)

   Store Code  SKU Code   Bill Date  Qty         Store Name  \
0          16    506150  2025-02-06    1  HG-VIKRAMPURI-HYD
1          16    506150  2025-02-17    1  HG-VIKRAMPURI-HYD
2          16    506150  2025-03-03    1  HG-VIKRAMPURI-HYD
3          16    506150  2025-03-09    1  HG-VIKRAMPURI-HYD
4          16    506150  2025-03-18    1  HG-VIKRAMPURI-HYD

                Product Name  Brand Category Subcategory    MRP  \
0  LAK ROSE POWDER SOFT PINK  Lakme   MAKEUP      MAKEUP  229.0
1  LAK ROSE POWDER SOFT PINK  Lakme   MAKEUP      MAKEUP  225.0
2  LAK ROSE POWDER SOFT PINK  Lakme   MAKEUP      MAKEUP  229.0
3  LAK ROSE POWDER SOFT PINK  Lakme   MAKEUP      MAKEUP  229.0
4  LAK ROSE POWDER SOFT PINK  Lakme   MAKEUP      MAKEUP  229.0

   Product Discount Basepack Code  \
0              22.9         19685
1              22.5         19685
2               0.0         19685
3               0.0         19685
4               0.0         19685

                                   Basepack Desc Manuf_Name
0  19685 : LAKME SOFT PINK FACE POWDER CONT. 40G      LAKME
1  19685 : LAKME SOFT PINK FACE POWDER CONT. 40G      LAKME
2  19685 : LAKME SOFT PINK FACE POWDER CONT. 40G      LAKME
3  19685 : LAKME SOFT PINK FACE POWDER CONT. 40G      LAKME
4  19685 : LAKME SOFT PINK FACE POWDER CONT. 40G      LAKME
Index(['Store Code', 'SKU Code', 'Bill Date', 'Qty', 'Store Name',
       'Product Name', 'Brand', 'Category', 'Subcategory', 'MRP',
       'Product Discount', 'Basepack Code', 'Basepack Desc', 'Manuf_Name'],
      dtype='object')
(148681, 14)

/var/folders/tc/ymb5565x6k18th3j1mrjn3000000gn/T/ipykernel_67056/2999421150.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../aggregated_offtake_data.csv")

In [8]:
# add column for the month of the bill date
df['date_datetime'] = pd.to_datetime(df['Bill Date'])
df["Month"] = df["date_datetime"].dt.month

# add column for the year of the bill date
df["Year"] = df["date_datetime"].dt.year

In [9]:
df.head()

,Store Code,SKU Code,Bill Date,Qty,Store Name,Product Name,Brand,Category,Subcategory,MRP,Product Discount,Basepack Code,Basepack Desc,Manuf_Name,date_datetime,Month,Year
0,16,506150,2025-02-06,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,22.9,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-06,2,2025
1,16,506150,2025-02-17,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,225.0,22.5,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-17,2,2025
2,16,506150,2025-03-03,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-03,3,2025
3,16,506150,2025-03-09,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-09,3,2025
4,16,506150,2025-03-18,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-18,3,2025

In [10]:
# add column for the week of the bill date
df["Week"] = df["date_datetime"].dt.isocalendar().week

In [11]:
df.head()

,Store Code,SKU Code,Bill Date,Qty,Store Name,Product Name,Brand,Category,Subcategory,MRP,Product Discount,Basepack Code,Basepack Desc,Manuf_Name,date_datetime,Month,Year,Week
0,16,506150,2025-02-06,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,22.9,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-06,2,2025,6
1,16,506150,2025-02-17,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,225.0,22.5,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-17,2,2025,8
2,16,506150,2025-03-03,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-03,3,2025,10
3,16,506150,2025-03-09,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-09,3,2025,10
4,16,506150,2025-03-18,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-18,3,2025,12

In [13]:
# aggregate skus by month
df_monthly = df.groupby(["Month", "SKU Code"]).agg({"Qty": "sum"}).reset_index()
df_monthly.head()
# aggregate skus by week
df_weekly = df.groupby(["Week", "SKU Code"]).agg({"Qty": "sum"}).reset_index()
df_weekly.head()

   Week  SKU Code  Qty
0     5    504896    1
1     5    506150   35
2     5    506152   10
3     5    506153    7
4     5    506154    8

In [21]:
df_monthly.head()
df_monthly.shape

(6948, 3)

In [33]:
sku_month_count = df_monthly[df_monthly['Qty'] > 0].groupby('SKU Code')['Month'].nunique().reset_index()
sku_month_count.columns = ['SKU Code', 'months_with_sales']

# Categorize SKUs
def categorize_sku(months_sold):
    if months_sold == 9:
        return 'Consistent (9 months)'
    elif months_sold == 8:
        return 'Frequent (8 months)'
    elif months_sold == 7:
        return 'Regular (7 months)'
    elif months_sold >= 6:
        return 'Moderate (6+ months)'
    else:
        return f'Sporadic ({months_sold} months)'

sku_month_count['category'] = sku_month_count['months_with_sales'].apply(categorize_sku)

# Get summary by category
category_summary = sku_month_count['category'].value_counts().sort_index()
print("SKU Distribution by Sales Frequency:")
print(category_summary)
print("\n")

# View SKUs in each category
for category in sorted(sku_month_count['category'].unique()):
    skus = sku_month_count[sku_month_count['category'] == category]['SKU Code'].tolist()
    print(f"\n{category}: {len(skus)} SKUs")
    print(f"SKUs: {skus[:10]}")  # Show first 10 SKUs
    if len(skus) > 10:
        print(f"... and {len(skus) - 10} more")

# Merge back to original dataframe if needed
df_with_category = df.merge(sku_month_count[['SKU Code', 'months_with_sales', 'category']], 
                             on='SKU Code', 
                             how='left')

SKU Distribution by Sales Frequency:
category
Consistent (9 months)    499
Frequent (8 months)       86
Moderate (6+ months)      50
Regular (7 months)        83
Sporadic (1 months)      115
Sporadic (2 months)       85
Sporadic (3 months)       40
Sporadic (4 months)       43
Sporadic (5 months)       62
Name: count, dtype: int64



Consistent (9 months): 499 SKUs
SKUs: [506150, 506152, 506153, 506154, 506172, 506173, 506280, 506527, 508811, 508812]
... and 489 more

Frequent (8 months): 86 SKUs
SKUs: [508804, 518536, 523309, 550680, 554439, 555905, 562022, 562990, 563937, 564052]
... and 76 more

Moderate (6+ months): 50 SKUs
SKUs: [504963, 508808, 534103, 556563, 562019, 562400, 562791, 562982, 567016, 567372]
... and 40 more

Regular (7 months): 83 SKUs
SKUs: [508806, 508809, 508810, 532319, 550893, 562046, 562979, 562983, 562989, 564253]
... and 73 more

Sporadic (1 months): 115 SKUs
SKUs: [506141, 506168, 508847, 518537, 525573, 525574, 527494, 529205, 532990, 537684]
... and 105 more

Sporadic (2 months): 85 SKUs
SKUs: [504900, 506151, 518226, 525572, 529599, 532001, 533686, 533935, 534276, 539741]
... and 75 more

Sporadic (3 months): 40 SKUs
SKUs: [506142, 527106, 531992, 540916, 552621, 554437, 557158, 561865, 564584, 564586]
... and 30 more

Sporadic (4 months): 43 SKUs
SKUs: [546258, 549376, 553544, 554425, 556435, 556436, 561866, 570728, 570735, 571233]
... and 33 more

Sporadic (5 months): 62 SKUs
SKUs: [504896, 521426, 538603, 551802, 562256, 562981, 564878, 565729, 567020, 567468]
... and 52 more

In [34]:
df_with_category.head()

,Store Code,SKU Code,Bill Date,Qty,Store Name,Product Name,Brand,Category,Subcategory,MRP,Product Discount,Basepack Code,Basepack Desc,Manuf_Name,date_datetime,Month,Year,Week,months_with_sales,category
0,16,506150,2025-02-06,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,22.9,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-06,2,2025,6,9,Consistent (9 months)
1,16,506150,2025-02-17,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,225.0,22.5,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-02-17,2,2025,8,9,Consistent (9 months)
2,16,506150,2025-03-03,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-03,3,2025,10,9,Consistent (9 months)
3,16,506150,2025-03-09,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-09,3,2025,10,9,Consistent (9 months)
4,16,506150,2025-03-18,1,HG-VIKRAMPURI-HYD,LAK ROSE POWDER SOFT PINK,Lakme,MAKEUP,MAKEUP,229.0,0.0,19685,19685 : LAKME SOFT PINK FACE POWDER CONT. 40G,LAKME,2025-03-18,3,2025,12,9,Consistent (9 months)

In [35]:
df_with_category.shape

(148681, 20)

In [36]:
df.shape
df.head()
df.columns
df.dtypes
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148681 entries, 0 to 148680
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Store Code        148681 non-null  int64
 1   SKU Code          148681 non-null  int64
 2   Bill Date         148681 non-null  object
 3   Qty               148681 non-null  int64
 4   Store Name        148681 non-null  object
 5   Product Name      148681 non-null  object
 6   Brand             148681 non-null  object
 7   Category          148681 non-null  object
 8   Subcategory       148681 non-null  object
 9   MRP               148681 non-null  float64
 10  Product Discount  148681 non-null  float64
 11  Basepack Code     148681 non-null  object
 12  Basepack Desc     148681 non-null  object
 13  Manuf_Name        148681 non-null  object
 14  date_datetime     148681 non-null  datetime64[ns]
 15  Month             148681 non-null  int32
 16  Year              148681 non-null  int32
 17  Week              148681 non-null  UInt32
dtypes: UInt32(1), datetime64[ns](1), float64(2), int32(2), int64(3), object(9)
memory usage: 18.9+ MB

In [37]:
# save df_with_category to csv
df_with_category.to_csv("df_with_category.csv", index=False)

# save df_monthly to csv
df_monthly.to_csv("df_monthly.csv", index=False)

In [38]:
df_weekly.head()
df_weekly.shape
df_weekly.columns
df_weekly.dtypes
df_weekly.describe()
df_weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22923 entries, 0 to 22922
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Week      22923 non-null  UInt32
 1   SKU Code  22923 non-null  int64
 2   Qty       22923 non-null  int64
dtypes: UInt32(1), int64(2)
memory usage: 470.2 KB

In [39]:
df_weekly.to_csv("df_weekly.csv", index=False)

In [ ]:
# check if sku code and basepack has one to one mapping if not then list it 
df_sku_basepack = df[["SKU Code", "Basepack Code"]].drop_duplicates()
df_sku_basepack.head()

# check SKU code and basepack code has one to one mapping

<class 'pandas.core.frame.DataFrame'>
Index: 1952 entries, 0 to 148571
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SKU Code       1952 non-null   int64
 1   Basepack Code  1952 non-null   object
dtypes: int64(1), object(1)
memory usage: 45.8+ KB

In [53]:
import pandas as pd

# First, standardize the data types - convert basepack code to string
df['Basepack Code'] = df['Basepack Code'].astype(str)
df['SKU Code'] = df['SKU Code'].astype(str)

# Now check for one-to-one mapping
sku_basepack_mapping = df[['SKU Code', 'Product Name', 'Basepack Code', 'Basepack Desc']].drop_duplicates()

# Count how many basepacks each SKU maps to
sku_to_basepack = sku_basepack_mapping.groupby('SKU Code')['Basepack Code'].nunique().reset_index()
sku_to_basepack.columns = ['SKU Code', 'basepack_count']

# Count how many SKUs each basepack maps to
basepack_to_sku = sku_basepack_mapping.groupby('Basepack Code')['SKU Code'].nunique().reset_index()
basepack_to_sku.columns = ['Basepack Code', 'sku_count']

# Identify issues
print("=" * 80)
print("MAPPING ANALYSIS (After data type standardization)")
print("=" * 80)

# Check if perfect one-to-one mapping exists
one_to_one = (sku_to_basepack['basepack_count'] == 1).all() and (basepack_to_sku['sku_count'] == 1).all()

if one_to_one:
    print("\n✓ Perfect one-to-one mapping exists!")
else:
    print("\n✗ One-to-one mapping DOES NOT exist. Issues found:\n")
    
    # Issue 1: One SKU maps to multiple basepacks
    multi_basepack_skus = sku_to_basepack[sku_to_basepack['basepack_count'] > 1]
    if not multi_basepack_skus.empty:
        print(f"\n1. SKUs mapping to MULTIPLE basepacks: {len(multi_basepack_skus)}")
        print("-" * 80)
        for _, row in multi_basepack_skus.head(20).iterrows():  # Show first 20
            sku = row['SKU Code']
            details = sku_basepack_mapping[sku_basepack_mapping['SKU Code'] == sku]
            product_name = details['Product Name'].iloc[0]
            print(f"\n   SKU Code: {sku}")
            print(f"   Product Name: {product_name}")
            print(f"   Maps to {len(details)} Basepack(s):")
            for _, detail in details.iterrows():
                print(f"      - Basepack Code: {detail['Basepack Code']}, Desc: {detail['Basepack Desc']}")
        if len(multi_basepack_skus) > 20:
            print(f"\n   ... and {len(multi_basepack_skus) - 20} more SKUs with multiple basepacks")
    
    # Issue 2: One basepack maps to multiple SKUs
    multi_sku_basepacks = basepack_to_sku[basepack_to_sku['sku_count'] > 1]
    if not multi_sku_basepacks.empty:
        print(f"\n2. Basepacks mapping to MULTIPLE SKUs: {len(multi_sku_basepacks)}")
        print("-" * 80)
        for _, row in multi_sku_basepacks.head(20).iterrows():  # Show first 20
            basepack = row['Basepack Code']
            details = sku_basepack_mapping[sku_basepack_mapping['Basepack Code'] == basepack]
            basepack_desc = details['Basepack Desc'].iloc[0]
            print(f"\n   Basepack Code: {basepack}")
            print(f"   Basepack Desc: {basepack_desc}")
            print(f"   Maps to {len(details)} SKU(s):")
            for _, detail in details.iterrows():
                print(f"      - SKU Code: {detail['SKU Code']}, Product Name: {detail['Product Name']}")
        if len(multi_sku_basepacks) > 20:
            print(f"\n   ... and {len(multi_sku_basepacks) - 20} more Basepacks with multiple SKUs")

# Summary statistics
print("\n" + "=" * 80)
print("SUMMARY")
print("=" * 80)
print(f"Total unique SKU Codes: {len(sku_to_basepack)}")
print(f"Total unique Basepack Codes: {len(basepack_to_sku)}")
print(f"SKU Codes with multiple basepacks: {len(multi_basepack_skus) if not multi_basepack_skus.empty else 0}")
print(f"Basepack Codes with multiple SKUs: {len(multi_sku_basepacks) if not multi_sku_basepacks.empty else 0}")

# Export issues to CSV if needed
if not one_to_one:
    if not multi_basepack_skus.empty:
        problematic_skus = multi_basepack_skus['SKU Code'].tolist()
        sku_issues_detail = sku_basepack_mapping[sku_basepack_mapping['SKU Code'].isin(problematic_skus)]
        sku_issues_detail = sku_issues_detail.sort_values('SKU Code')
        sku_issues_detail.to_csv('sku_multiple_basepacks.csv', index=False)
        print("\n✓ Exported: 'sku_multiple_basepacks.csv'")
    
    if not multi_sku_basepacks.empty:
        problematic_basepacks = multi_sku_basepacks['Basepack Code'].tolist()
        basepack_issues_detail = sku_basepack_mapping[sku_basepack_mapping['Basepack Code'].isin(problematic_basepacks)]
        basepack_issues_detail = basepack_issues_detail.sort_values('Basepack Code')
        basepack_issues_detail.to_csv('basepack_multiple_skus.csv', index=False)
        print("✓ Exported: 'basepack_multiple_skus.csv'")

================================================================================
MAPPING ANALYSIS (After data type standardization)
================================================================================

✗ One-to-one mapping DOES NOT exist. Issues found:


1. SKUs mapping to MULTIPLE basepacks: 1
--------------------------------------------------------------------------------

   SKU Code: 548919
   Product Name: LAKME EYECONIC KAJAL DEEPBLCK TWIN 0.35G
   Maps to 2 Basepack(s):
      - Basepack Code: 24272, Desc: 24272 : LK EYECONIC KAJAL - TWIN PACK 12*0.35G
      - Basepack Code: 24272 : LK EYECONIC KAJAL - TWIN PACK 12*0.35G, Desc: 24272 : LK EYECONIC KAJAL - TWIN PACK 12*0.35G

2. Basepacks mapping to MULTIPLE SKUs: 2
--------------------------------------------------------------------------------

   Basepack Code: 11616
   Basepack Desc: 11616 : TRESEMME HAIRFALL DEFENSE SHAMPOO XL BOTTLE
   Maps to 2 SKU(s):
      - SKU Code: 574744, Product Name: TRESEMME HAIRFALL DEFENSE+ SHAMPOO 580M
      - SKU Code: 531992, Product Name: TRESEME SH 600 HAIR FL CNTRL

   Basepack Code: 23049
   Basepack Desc: 23049 LAKME YOUTH INFINITY SERUM 32ML
   Maps to 3 SKU(s):
      - SKU Code: 568422, Product Name: LAKME YOUTH INFINITY SERUM 30 ML
      - SKU Code: 568422, Product Name: LAKME RETINOL ADVANCD SERUM+PEPTIDE 30ML
      - SKU Code: 533686, Product Name: LAK YOUTH INF SERUM 30ML

================================================================================
SUMMARY
================================================================================
Total unique SKU Codes: 1063
Total unique Basepack Codes: 1062
SKU Codes with multiple basepacks: 1
Basepack Codes with multiple SKUs: 2

✓ Exported: 'sku_multiple_basepacks.csv'
✓ Exported: 'basepack_multiple_skus.csv'